//
//  .gitignore
//  cvault
//
//  Created by feelthatvib3 on 7/27/25.
//

# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate

# SwiftPM
/.build/
/Packages/
/Package.resolved

# App artifacts
*.app
*.zip

# Xcode project user data
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Logs
*.log

# macOS metadata
*.swp
*.lock
*.tmp
